<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2"
          name="D:/Studies/Wiley/Selenium/MetroCitySelenium/src/com/metro/testcases/LoginTestCase.java">
        <classes>
            <class name="com.metro.testcases.LoginTestCase">
                <methods>
                    <include name="loginValidUser"/>
                    <include name="loginInvalidUser"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2"
          name="D:/Studies/Wiley/Selenium/MetroCitySelenium/src/com/metro/testcases/RechargeTestCase.java">
        <classes>
            <class name="com.metro.testcases.RechargeTestCase">
                <methods>
                    <include name="rechargeCardWithValidAmount"/>
                    <include name="rechargeCardWithInvalidAmount"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2"
          name="D:/Studies/Wiley/Selenium/MetroCitySelenium/src/com/metro/testcases/SwipeInTestCase.java">
        <classes>
            <class name="com.metro.testcases.SwipeInTestCase">
                <methods>
                    <include name="validSwipeIn"/>
                    <include name="InvalidSwipeIn"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2"
          name="D:/Studies/Wiley/Selenium/MetroCitySelenium/src/com/metro/testcases/SwipeOutTestCase.java">
        <classes>
            <class name="com.metro.testcases.SwipeOutTestCase">
                <methods>
                    <include name="validSwipeOut"/>
                    <include name="InvalidSwipeOut"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
